body{

    
    /* from gradient backgrounds */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5%;
}


div{
    border-radius: 10px;
}

header{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.form-city{
    margin-top: 5%;
    padding: 10px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/clear.jpg"); */
    width: 50%;
    /* from stackoverflow */
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;  
}

input{
    background-color: #81def5;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border: 5px;
    margin-right: 2%;
    
}
button{
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border: 5px;
    margin-right: 2%;
}


button:hover{
    background-color: #81def5;
    transition: 0.75s;
}

footer{
    margin-top: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
.weatherDescribtion{
    background-color: #ffffff;
    width: 222px;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
}

/* this technique was adobted from stackoverflow */
.nextto{
    display: flex;

}

.nextto .weatherDescribtion, 
.nextto .weatherlogo{
    flex: 1;
}

.nextto .weatherlogo{
    padding-top: 100px;
}

#map { 
    height: 300px;
}

.mapview{
    margin: 1%;
    padding: 10px;
    
}


.forecast-background{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    background-size:     cover;                 
    background-repeat:   no-repeat;
    background-position: center center;  
}


.forecast-list{
/* because nextto has display: flext; property we that affects alignment,
     we use the below property to align the content to the center
     */
    justify-content: center;  
    margin-top: 5%;
    padding: 10px;
    width: 50%;
}


.alerts{
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: yellow;
}
